 {{ form_start(form) }}

<div  class="row g-3 col-10 mx-auto">

    <div class="col-md-6">
         {{ form_row(form.nom, {'attr': { "class":"form-control"}}) }}

     </div>
    <div class="col-md-6">
         {{ form_row(form.prenom, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-md-6">
         {{ form_row(form.email, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-md-6">
         {{ form_row(form.telephone, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-12">
         {{ form_row(form.adresse, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-md-6">
         {{ form_row(form.age, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-md-6">
         {{ form_row(form.niveauEtude, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-12">
         {{ form_row(form.specialite, {'attr': { "class":"form-control"}}) }}
    </div>
    <div class="col-md-12">
         {{ form_row(form.experienceProfessionnelle, {'attr': { "class":"form-control"}}) }}

    </div>
    <div class="col-md-12">
         {{ form_row(form.categories, {'attr': { "class":"form-control"}}) }}

    </div>
    <div class="col-12 mt-3">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>

</div>
 {{ form_end(form) }}
