{% extends 'base.html.twig' %}

{% block title %}Emplois{% endblock %}

{% block body %}
    <h3 class="text-center mt-3 mb-3">Mes emplois</h3>

    {% if emplois %}
<div class="row mx-auto col-md-10 ">
    {% for emploi in emplois %}
<div class="col-sm-4 col-md-4 col-xs-6 col-lg-3  "  id="emploi{{ emploi.id }}">
    <div   class="card" style="width: 100%;">
        {% if  emploi.avatar %}
            <img class="card-img-top" style="height: 150px" src="{{asset('/asset/uploads/')}}{{ emploi.avatar }}" alt="Card image cap">

        {% else %}
            <img class="card-img-top" style="height: 150px" src="{{asset('/asset/img/placeholder.png')}}" alt="Card image cap">

        {% endif   %}

        <div class="card-body">
            <h5 class="card-title">{{ emploi.libelle }}</h5>
            <p class="card-text">{{ emploi.description }}</p>
            <hr>
            {% if emploi.salaire %}

            <span class="float-left btn btn-sm btn btn-outline-danger disabled">{{emploi.salaire   }}F.CFA</span>
            {% else %}
            <span class="float-left btn btn-sm btn btn-outline-danger disabled">A discuter</span>

            {% endif %}
            <a   href="/emploi/details/{{ emploi.id }}"  class="btn btn-sm btn-warning float-right"><i class="fa fa-eye"></i></a>

            <a href="/emploi/update/{{ emploi.id }}" class="btn btn-sm btn-primary float-right ml-1"><i class="fa fa-edit"></i></a>
            <button   onclick="deleteEmploi({{ emploi.id }})" class="btn btn-sm btn-danger float-right"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    </div>
    {% endfor%}

</div>
        {{ knp_pagination_render(emplois) }}


    {% endif %}
    <script src="{{ asset('/asset/js/scripts.js') }}">

    </script>
 {% endblock %}

