<div>

    <div style="float: left;height: 250px;width: 400px">
        <span>Nom:<strong> {{ cv.prenom }} {{ cv.nom }}</strong></span><br>
        <span>Age: <strong>{{ cv.age }} ans</strong></span><br>
        <span>Email: <strong>{{ cv.email }}</strong>  </span><br>
        <span>Telephone: <strong> {{ cv.telephone }}</strong>  </span><br>
        <span>Adresse: <strong>{{ cv.adresse }}</strong>  </span><br>
        <span>Niveau d'etude: <strong>{{ cv.niveauEtude }}</strong>  </span><br>
    </div>

    <div>
        <h1 style="text-align: center">{{ cv.specialite }}</h1>
        <p>{{ cv.experienceProfessionnelle }}</p>
    </div>
</div>
